/* ============ COMMON STYLES ============ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #111111;
    background-color: #fafafa;
}
.main-header{
    display: flex;
}
.main-conteiner {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    justify-content: space-between;
    position: relative; 
}
.logo-web-main{
    font-weight: 700;
    font-size: 17px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    padding-left: 16px;
}
.logo-web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.icon-list-mobile{
    fill: #111111;
}
.mobileversion-button {
    background-color: #ffffff;
    border: none;
    margin-left: auto;
}
.navigation {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 768px) {
    html{
        max-width: 288px;
        margin: 0 auto;
    }
    .list-main-navigation {
        display: none;
    }
    .contacts {
        display: none;
    }
}
@media screen and (min-width: 769px){
    html {
    max-width: 768px;
    margin: 0 auto;
        }
   .mobileversion-button {
      display: none;
    }
    .list-main-navigation{
    display: flex;
    column-gap: 40px;
    }
    .text-studio{
    font-weight: 500;
    line-height: 1.5;
        }
    .text-portfolio {
    font-weight: 500;
     line-height: 1.5;
        }
    .text-contacts {
    font-weight: 500;
    line-height: 1.5;   }
}